@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Jura:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    
}

body{
    font-family: 'Jura', sans-serif;
    color: #222349;
    background-color: #ffffff;
    /* overflow: hidden; */
}


header{
    background-color: #7175d3;
    color: #ffffff;
    border-bottom: 3px solid #4f53b7;
}

header h1{
    text-align: center;
    font-size: 18px;
    padding: 15px;
}



#showcase {
    padding: 50px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    
}

#showcase img{
    width: 250px;
    
}


#showcase .text h2 {
    font-size: 32px;
    text-align: left;
    font-weight: 600;
}

#showcase .text p{
    padding-top: 25px;
    font-size: 16px;
    text-align: justify;


}
footer {
    background-color: #7175d3;
    border-top: 3px solid #4f53b7;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    text-align: center;
    

}